<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oleynikov.hp.ggroup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:name="com.oleynikov.hp.ggroup.GgroopApplication"
        android:icon="@drawable/ic_launcher_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name="com.oleynikov.hp.ggroup.activity.SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.oleynikov.hp.ggroup.activity.AboutUsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oleynikov.hp.ggroup.activity.LogoActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oleynikov.hp.ggroup.activity.RegistrationActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oleynikov.hp.ggroup.activity.EditProfileActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oleynikov.hp.ggroup.profile.ProfileActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oleynikov.hp.ggroup.activity.DeliveryActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oleynikov.hp.ggroup.activity.ChoiceActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shamanland.facebook.likebutton.FacebookLikeActivity"
            android:label="@string/com_shamanland_facebook"
            android:theme="@style/Theme.Facebook.Like" />
        <activity
            android:name="com.oleynikov.hp.ggroup.activity.EventActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_calendar"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.oleynikov.hp.ggroup.activity.ShareActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_share"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="com.oleynikov.hp.ggroup.activity.ViewImageActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.oleynikov.hp.ggroup.activity.main.view.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name="com.oleynikov.hp.ggroup.activity.CreateOrderActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"

            ></activity>
    </application>

</manifest>